@import './vars.styl';

.book
  background rgba(0,0,0,0.1)
  height bookHeight
  position relative
  width bookWidth

  img
    display block
    height bookHeight - 80px
    left 20px
    object-fit contain
    position absolute
    top 20px
    width bookWidth - 40px

  .description
    background linear-gradient(to top, blue 0%, blue 40%, transparent 100%)
    bottom 0
    display flex
    flex-flow column nowrap
    height 160px
    justify-content flex-end
    padding 0 10px 10px
    position absolute
    width 100%

    h3
      font-size 1.6rem
      margin-bottom 5px

    p
      font-size 1rem
      margin 0
      opacity 0.7
