@import './vars.styl';
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

*
  box-sizing border-box

a
  color #3498db
  text-decoration none

h1, h2, h3
  font-weight normal
  margin 0

.button
  background cyan
  border none
  color white
  cursor default
  display inline-block
  line-height buttonHeight
  font-size 1.4rem
  padding 0 6px
  position relative
  height buttonHeight
  text-align center
  transition 0.2s

  &.red
    background red

    .icon
      background redDark

  &.back
    buttonTranslation = 10px

    color alpha(#ffffff, 0.7)
    font-size 2rem
    left - buttonTranslation
    padding 0 0 0 buttonTranslation
    position absolute
    top ((headerHeight - buttonHeight) / 2)
    width buttonHeight + buttonTranslation

    &:hover
      transform translate(buttonTranslation, 0)

    &:active
      transform translate(-buttonTranslation, 0)

  .icon
    background cyanDark
    flex-shrink 0
    font-size 2.2rem
    height buttonHeight
    line-height buttonHeight
    margin 0
    position absolute
    top 0
    left 0
    text-align center
    transition 0.3s
    width 100%

    & + span
      padding-left buttonHeight

  &:active
    transform translate(0, 2px)

  &:hover .icon
    width buttonHeight

input, select, textarea
  background cyanDark
  border none
  color alpha(#ffffff, 0.5)
  font-size 1.4rem
  height 40px
  padding 5px 10px

html
  font-size 62.5%

body
  background blue
  color white
  font-family Karla, sans-serif
  font-size 1.4rem
  margin 0
  padding 0

header
  sidebox(blue, blueDark, headerHeight)
  height headerHeight
  padding-bottom 40px
  padding-top 40px

  h1
    display inline-block
    font-size 2.2rem
    height headerHeight - 80px
    line-height headerHeight - 80px

  p
    margin 0
    opacity 0.6
    position absolute
    top 25px

  nav
    display flex
    flex-flow row nowrap
    position absolute
    right 60px
    top ((headerHeight - buttonHeight) / 2)

    & > *
      margin-left 10px

footer
  sidebox(blue, blueDark, 71px)
  color alpha(#ffffff, 0.8)

  .dim
    color alpha(#ffffff, 0.5)
