@import './vars.styl';
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

*
  box-sizing border-box

a
  color #3498db
  text-decoration none

h1, h2, h3
  font-weight normal
  margin 0

.chapter
  background white

.button
  background cyan
  border none
  color white
  cursor default
  display inline-block
  line-height buttonHeight
  font-size 1.4rem
  padding 0 6px
  position relative
  height buttonHeight
  text-align center
  transition 0.2s

  .icon
    background cyanDark
    flex-shrink 0
    font-size 2.2rem
    height buttonHeight
    line-height buttonHeight
    margin 0
    position absolute
    top 0
    left 0
    text-align center
    transition 0.3s
    width 100%

    & + span
      padding-left buttonHeight

  &:active
    transform translate(0, 2px)

  &:hover .icon
    width buttonHeight

input, select, textarea
  background cyanDark
  border none
  color alpha(#ffffff, 0.5)
  font-size 1.4rem
  height 40px
  padding 5px 10px

html
  font-size 62.5%

body
  color grayDark
  font-family Karla, sans-serif
  font-size 1.4rem
  margin 0
  padding 0
