@import './vars.styl';

article.cover
  align-items center
  display flex
  height coverHeight
  justify-content center
  width coverWidth

  img
    width coverImageWidth

article.detailedCover
  height detailedCoverHeight
  overflow hidden
  position relative
  width detailedCoverWidth

  img
    display block
    height detailedCoverHeight
    left 100px
    object-fit contain
    position absolute
    top 0
    transform translate(-50%, 0)
    width coverImageWidth
    z-index 15

  .description
    angled-before(blueDark, detailedCoverHeight)
    background blueDark
    bottom 0
    color white
    padding 35px 10px 35px 50px
    position absolute
    right 0
    top 0
    width 290px
    z-index 10

    h3
      font-size 1.8rem

    p
      opacity 0.8

    .startDate
      margin-top 30px
      opacity 0.4

    .progressbar
      bottom 30px
      position absolute
