@import './vars.styl';

section.form
  sidebox(cyan, cyanDark, 320px)

.bookForm
  display flex
  flex-flow row nowrap

  .book
    flex-shrink 0
    margin-right 20px

  form
    display flex
    flex-flow row wrap
    width 420px

    .item
      display flex
      flex-flow column nowrap

      label
        margin-bottom 10px
        opacity 0.7

      &.half
        margin-right 20px
        width 45%

      &.full
        width 100%
