@import './vars.styl';

.collections
  display flex
  flex-flow row wrap
  justify-content space-between

  section
    height sectionHeight

    ul
      display flex
      flex-flow row nowrap
      justify-content flex-start
      list-style none
      margin 0
      padding 0

      li
        margin-right 20px

        &:last-child
          margin 0

    &.stock
      sidebox(gray, grayDark, sectionHeight)
      flex-basis 100%

    &.reading
      sidebox(yellow, yellowDark, sectionHeight)
      flex-grow 0

    &.read
      sidebox(green, greenDark, sectionHeight)
      flex-grow 1
