@import './vars.styl';

.collections
  display flex
  flex-flow row wrap
  justify-content space-between

  section
    height sectionHeight

    ul
      display flex
      flex-flow row nowrap
      justify-content flex-start
      list-style none
      margin 0
      padding 0

      li
        margin-right 20px

        &:last-child
          margin 0

    .announce
      color rgba(255, 255, 255, 0.9)
      font-size 1.8rem
      left 50%
      margin 0
      position absolute
      top 50%
      transform translate(-50%, -50%)

      button
        box-shadow 0 1px 2px rgba(0,0,0,0.5)
        height 30px
        margin 0 5px

    &.stock
      sidebox(gray, grayDark, sectionHeight)
      flex-basis 100%

      .announce
        color rgba(0, 0, 0, 0.6)

    &.reading
      sidebox(yellow, yellowDark, sectionHeight)
      flex-grow 0

    &.read
      sidebox(green, greenDark, sectionHeight)
      flex-grow 1
