.loader
  align-items center
  display flex
  flex-flow row nowrap
  height 100%
  justify-content center
  margin 0
  padding 0

  span
    &, &::after, &::before
      animation cssload-upDown2 1.3s ease infinite
      animation-delay 0.33s
      animation-direction alternate
      background alpha(#000000, 0.2)
      height 70px
      margin-bottom 60px
      position relative
      width 6px

    &::after, &::before
      animation cssload-upDown 1.3s ease infinite
      animation-direction alternate
      content ''
      position absolute

    &::before
      left -14px

    &::after
      animation-delay 0.65s
      left 14px

@keyframes cssload-upDown
  from
    transform translateY(14px)
  to
    transform translateY(-14px)

@keyframes cssload-upDown2
  from
    transform translateY(21px)
  to
    transform translateY(-14px)
