cyan = rgb(58, 153, 216)
cyanDark = rgb(45, 129, 183)
blueDark = rgb(46, 62, 80)
lightGray = rgb(244, 245, 247)
grayDark = rgb(54, 65, 78)

sidebarWidth = 70px

coverHeight = 280px
coverWidth = 180px

detailedCoverHeight = coverHeight
detailedCoverWidth = 440px

angle = 8.88deg

coverImageWidth = 140px

dimOpacity = 0.4
dimFontColour = alpha(white, dimOpacity)

angled-content(color, height)
  content ''
  display block
  height 0
  position absolute
  top 0
  width 0

angled-before(color, height)
  &::before
    angled-content(color, height)
    border-bottom height solid color
    border-left (height * tan(angle)) solid transparent
    right 100%

angled-after(color, height)
  &::after
    angled-content(color, height)
    left 100%
    border-top height solid color
    border-right (height * tan(angle)) solid transparent
