blue = rgb(53, 73, 93)
blueDark = rgb(45, 62, 79)
cyan = rgb(58, 153, 216)
cyanDark = rgb(45, 129, 183)
gray = rgb(236, 240, 241)
grayDark = rgb(189, 195, 199)
green = rgb(47, 209, 175)
greenDark = rgb(35, 159, 133)
yellow = rgb(240, 195, 48)
yellowDark = rgb(241, 155, 44)
red = #e74c3c
redDark = #c0392b

headerHeight = 120px

buttonHeight = 40px

sideWidth = 20px
sideWidthExpanded = 40px

bookHeight = 280px
bookWidth = 180px

sectionHeight = bookHeight + 2*20px

sidebox(mainColor, sideColor, height=40px)
  background mainColor
  padding 20px 60px 20px 60px+sideWidth
  position relative

  h2, &::before
    background sideColor
    bottom 0
    color transparent
    content ''
    font-size 1.8rem
    height sideWidth
    line-height sideWidth
    position absolute
    right 100%
    text-align center
    top 0
    transition .5s
    transform rotate(-90deg)
    transform-origin top right
    width height

  &:hover h2, &.hover h2
    color rgba(255, 255, 255, 0.8)
    height sideWidthExpanded
    line-height sideWidthExpanded
