cyan = rgb(71, 151, 202)
cyanDark = rgb(45, 129, 183)
blueDark = rgb(46, 62, 80)
lightGray = rgb(244, 245, 247)
grayDark = rgb(54, 65, 78)

sidebarWidth = 80px

buttonHeight = 40px

coverHeight = 315px
coverWidth = 200px

detailedCoverHeight = coverHeight
detailedCoverWidth = 500px

angle = 8.88deg

angled-content(color, height)
  background color
  content ''
  display block
  height (height / cos(angle))
  position absolute
  top 0
  transform rotate(angle)
  transform-origin 0 0
  width (height * sin(angle))

angled-before(color, height)
  &::before
    angled-content(color, height)
    left 0
    transform-origin 0 0

angled-after(color, height)
  &::after
    angled-content(color, height)
    right 0
    transform-origin 100% 100%
