@import './vars.styl';
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

*
  box-sizing border-box

a
  color #3498db
  cursor pointer
  text-decoration none

h1, h2, h3
  font-weight normal
  margin 0

.chapter
  background white

html
  font-size: 62.5%

body
  color grayDark
  font-family Karla, sans-serif
  font-size: 1.5rem
  margin 0
  padding 0 0 0 sidebarWidth
