@import './vars.styl';

section.io
  display flex
  flex-flow row nowrap

  & > div
    display flex
    flex-basis 40%
    flex-flow column nowrap
    flex-grow 1
    margin-right 10px

    &:last-child
      margin-right 0

    textarea
      border 1px solid alpha(#000000, 0.5)
      font-size 1.3rem
      height 300px
      margin 10px 0
      padding 8px

    div
      display flex
      flex-flow row nowrap
      justify-content center

      .button
        margin 0 5px
