@import '../vars.styl';

buttonHeight = 60px

buttonHeightMixin(height, font-size)
  angled(cyan, height)
  font-size: font-size
  line-height: height
  height: height

  img
    height: (3*height/4)

    &.icon
      margin-right: (height/6)

button, a.btn
  buttonHeightMixin(buttonHeight, 1.6rem)

  align-items: center
  background cyan
  border none
  color white
  display: flex
  flex-flow: row nowrap
  justify-content: center
  margin: 0 5px
  padding: 0 5px
  transition 0.1s

  &:hover
    cursor: pointer

  &.small
    buttonHeightMixin(buttonHeight/2, 1.2rem)
