@import '../vars.styl';

buttonHeight = 60px

button
  background cyan
  border none
  color white
  line-height buttonHeight
  font-size 1.6rem
  position relative
  height buttonHeight
  text-align center
  transition 0.1s

  &:active
    transform translate(0, 3px)

  img
    height: (buttonHeight / 2)
    margin-right 10px
    vertical-align middle

  &.inline
    height auto
    line-height: inherit
    font-size: 1.1rem
    margin: 0 4px
    padding: 2px 5px

  a > &
    width: 100%
