@import '../vars.styl';

buttonHeight = 40px

buttonHeightMixin(height, font-size)
  angled-after(alpha(white, 0.15), height)
  font-size: font-size
  line-height: height
  height: height
  padding: 0 (height/4)

  img
    height: (height/2)

    &.icon
      margin-right: (height/4)

button, a.btn
  buttonHeightMixin(buttonHeight, 1.5rem)

  align-items: center
  background: alpha(white, 0.15)
  border: none
  color: white
  cursor: pointer
  display: flex
  flex-flow: row nowrap
  justify-content: center
  margin: 0 5px 0 0
  transition: 0.1s

  &:hover
    opacity: 0.9
