make-loader(size, width)
  min-width: 15*width

  span
    margin-left: 3*width
    margin-right: 7*width

    &, &::after, &::before
      animation: cssload-upDown2 1.3s ease infinite
      animation-delay: 0.33s
      animation-direction: alternate
      background: alpha(#000000, 0.2)
      height: 5 * size
      margin-bottom: 2 * size
      position: relative
      width: width

    &::after, &::before
      animation cssload-upDown 1.3s ease infinite
      animation-direction alternate
      content ''
      position absolute

    &::before
      left: - size

    &::after
      animation-delay: 0.65s
      left: size

.loader
  align-items center
  display flex
  flex-flow row nowrap
  height 100%
  justify-content center
  margin 0
  padding 0

  make-loader(14px, 6px)

  &.small
    make-loader(5px, 2px)

    span
      &
        animation-name: cssload-upDown2-small

      &::before, &::after
        animation-name: cssload-upDown-small

  &.white
    span
      &, &::before, &::after
        background: white

@keyframes cssload-upDown
  from
    transform translateY(14px)
  to
    transform translateY(-14px)

@keyframes cssload-upDown2
  from
    transform translateY(21px)
  to
    transform translateY(-14px)

@keyframes cssload-upDown-small
  from
    transform translateY(7px)
  to
    transform translateY(-7px)

@keyframes cssload-upDown2-small
  from
    transform translateY(11px)
  to
    transform translateY(-7px)
