@import '../vars.styl';

aside.sidebar
  align-items flex-end
  background blueDark
  bottom 0
  color white
  display flex
  flex-flow column nowrap
  justify-content space-between
  left 0
  position fixed
  top 0
  width sidebarWidth

  header
    align-items: center
    display: flex
    padding: 20px 0 0
    flex-flow: column nowrap
    width: sidebarWidth

    h1
      height=120px

      margin 0
      font-size 3rem
      height height
      line-height height
      text-align: center
      transform rotate(-90deg)
      transform-origin 50% 50%

      a
        color: inherit
        display: block

    .loader
      font-size: 0.8em
      margin-top: 20px
      opacity: 0.5

  nav
    ul
      align-items center;
      display flex
      flex-flow column nowrap
      list-style none
      margin 0
      padding 0
      width sidebarWidth

      li
        font-size 5rem
        height sidebarWidth
        line-height sidebarWidth
        text-align center
        width sidebarWidth

        a
          color white
          display block

          img
            color: white
            display: block
            margin: (sidebarWidth / 8)

        &:hover
          background cyan

    & > a
      color white
      display block
      margin 5px 0
      opacity 0.3
      text-align center

      &:hover
        text-decoration underline
