@import '../vars.styl';

wishlistRatio = 2/3

article.cover
  align-items center
  background: darken(white, 10%)
  display flex
  height coverHeight
  justify-content center
  width coverWidth

  img
    width coverImageWidth

  .shelf.wishlist &
    height: (coverHeight * wishlistRatio)
    width: (coverWidth * wishlistRatio)

    img
      width: (coverImageWidth * wishlistRatio)
