@import '../vars.styl';

article.cover
  align-items center
  background: darken(white, 10%)
  display flex
  height coverHeight
  justify-content center
  width coverWidth

  img
    height: coverImageHeight
    object-fit: contain
    width: coverImageWidth
